.main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.main-form-container {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}

.main-form-container input {
    margin: 1rem 0;
}

.form-content {
    display: flex;
    align-items: stretch;
}
